<header>
	<div class="header-wrap">
		<div class="header-right">
			<nav>
				<%= link_to "Home  ", sample_app_home_path, class:"link" %>"|"
				<%= link_to " About  ", sample_app_about_path, class:"link" %>"|"
				<%= link_to " Contact  ", sample_app_contact_path, class:"link" %>"|"
				<%= link_to " Help ", sample_app_help_path, class:"link" %>"|"
				<%= link_to " Login", sample_app_login_path, class:"link" %>
			</nav>
		</div>
		<div class="header-left"><%= link_to "Sample App", sample_app_home_path, class:"link" %></div>	
	</div>
</header>


